<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title|default:"Audit Log" }}</title>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}audit/audit.css" />
    <script type="text/javascript" src="{{STATIC_URL}}libs/jquery/jquery.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}libs/bootstrap/bootstrap.min.js"></script>
    {% block head_extra %}{%endblock %}
</head>
<body>
    <div class="container">
        <div class="row heading">{%block heading %}{% endblock %}</div>
        <div class="row main">{% block main %}{% endblock %}</div>
    </div>
</body>
</html>
